div.seperatorbar {
    padding: 5px;
    background: #FDF4CE;
    color: #000066;
    font-weight: bold;
    font-size: 14px;
}

.ordersummary {
    font-size: 16px;
    text-align: center;
    color: #E11919;
}

